body
{
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
    margin: 0 0 1.5em;
    line-height: 1.5;
}

blockquote
{
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr
{
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table
{
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

th, td
{
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/*
a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }
*/
/* -----------------------
Layout styles
------------------------*/



.header
{
    color: #fff;
    /*background: #0081D5;*/
    padding: 3em 1.25em;
    margin-bottom: 50px;
    /*background: #0081D5 url('/assets/tonle-sap-map.jpg') no-repeat;*/
    background: #0081D5 url('/assets/tonle-sap-map.png') no-repeat;
    background-position: 100% 40%;

}

.header-heading { margin: 0; }

.nav-bar
{
    /*background: #000; */
    padding: 0;
    position: relative;
    .text-title{
        font-size: 25px;
        position: absolute;
        margin-left: 20px;
        // right: -124px;
        // text-align: left;
        // width: 100%;
    }
    img{
        width: 94px;
    }
}

#searchForm{

}

.content {
    /*padding: 0 50px; */
}

.footer
{
    color: #fff;
    background: #000;
    padding: 1em 1.25em;

    div{
        text-align: right;
    }
    div:first-child{
        text-align: left;
    }
}

/* -----------------------
Nav
------------------------*/

.nav
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li
{
    display: inline;
    margin: 0;
}

.nav a
{
    display: block;
    padding: .7em 1.25em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
    color: black;
    background-color: white;
}

.nav a:hover
{
    color: white;
    background-color: green;
}

.nav a:active
{
    color: white;
    background-color: red;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover
{
    color: #fff !important;
    background-color: green;
}

.btn:focus
{
    color: #fff !important;
    background-color: black;
}

.btn:active
{
    color: #fff !important;
    background-color: red;
}

.table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled
{
    padding-left: 0;
    list-style: none;
}

.list-inline
{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li
{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
    /*.header { padding: 1.5em 3em; }
    .nav-bar { padding: 1em 3em; }
    .content { padding: 2em 3em; }
    .footer { padding: 2em 3em; }*/

    .nav li
    {
        display: inline;
        margin: 0 1em 0 0;
    }

    .nav a
    {
        display: inline;
        padding: 0;
        border-bottom: 0;
    }
}

html, form, select {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

body, html { /* Sticky footer from http://www.cssstickyfooter.com */
    height: 100%;
    font-size: 17px;   /* custom */
    color: #666;
}

/* custom */
body.webkit strong, body.webkit b {
    font-weight: bold !important;
}

#wrap {
    min-height: 100%;
}

#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    clear:both;
}

#gutter, #footer {

    line-height: 40px;
    padding: 20px 0px;
    background-color: #808080;
}

body:before { /* Opera Fix */
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

#banner {
    /*background-image: url('vshadow.png'); */
    background-repeat: repeat-x;
}

#banner h1 {
/*  text-indent: -9999px; */
        font-size: xx-large;
        text-align: center;
    margin: 0 auto 0 auto;
    width: 540px;
/*  height: 100px; */
        padding: 10px 0 10px 0;
/*  background-image: url('banner.png'); */
}

#banner h1 img {
    vertical-align:middle;
}

#searchbar {
   /* height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;*/
    /*background-color: #63ca93;*/
    background: #fff;
    border-radius: 5px;
    height: 55px;
    margin-top: 10px;
    float: left;
}

#searchbar form {
    /*text-align: center;*/
}

#searchbar input#query {
    border: 0;
    padding: 5px;
    background-image: url('vshadow.png');
    background-repeat: repeat-x;
    width: 85%;
    border-radius: 5px;
    color: #666;
    height: 55px;

}

#searchbtn{
   height: 55px;
   width: 110px;
   border: none;
   border-radius: 5px;
   background: #EEEEEC url('/assets/search-icon-png-14.png') no-repeat;
   background-position: center;
   float: right;
}

#info, #pager {
    background-color: #ffe3b9;
    color: #5f5240;
}

#info {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

#pager {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
}

#page {
    margin: 0;
    padding: 10px 0 0 10px;
    /*background-image: url('vshadow.png'); */
    background-repeat: repeat-x;
}

#gutter a, #footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/**
 * Common elements
 */

* {
    font-family: Georgia, Bookman;
    font-size: 18px;
}

h2 {
    font-size: 18px;
    margin: 10px 0 10px 0;
}

h3 {
    font-size: 16px;
}

/**
 * Main menu
 */

ul#mainmenu {
    list-style: none;
    padding: 5px 0 5px 0;
    margin: 0;
    text-align: center;
}

ul#mainmenu li {
    display: inline;
    margin: 0;
    padding: 5px 10px 5px 10px;
}

ul#mainmenu li a {
    text-decoration: none;
    font-size: 16px;
    color: #23995a;
    font-weight: bold;
}

ul#mainmenu li a.active {
    color: #353;
}

/**
 *
 */

.msgerror {
    color: #A66;
    font-weight: bold;
}

.msginfo {
    color: #6A6;
    font-weight: bold;
}

.button {
    border: solid 1px #BBB;
    padding: 3px;
    margin: 2px;
    background-color: #ddd;
    display: inline-block;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/**
 * Results formatting
 */

ul#results {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.entry {
    margin: 0;
    padding: 40px 0px;
    color: #666;
        font-size: 16px;
        line-height: 26px;
}

.prefix {
    color: #339;
    font-weight: bold;
}

.headword {
    color: blue;
    font-weight: bold;
        font-size: 20px;
}

.modifier {
    color: #339;
    font-weight: bold;
}

.wordclass, .nounclass, .flag, .proposalwarning {
    color: black;
    padding: 0 3px 0 3px;
    text-decoration: none;
    font-size: 12px;
}

.wordclass {
    background-color: #DDD;
}

.nounclass {
    background-color: #CCE;
}

.flag {
    background-color: #CEC;
}

.meaning {
    color: black;
    font-style: italic;
}

.comment {
    font-style: italic;
}

.query {
    font-weight: bold;
}

.link {
    border-bottom: dotted 1px #999;
    text-decoration: none;
}

.clickable:hover {
    background-color: #eee;
    cursor: pointer;
}

.reference {
    color: #262;
}

.proposalwarning {
    background-color: #ffa;
}

.examplelist {
    margin: 0px;
    font-size: smaller;
}

.exampleform {
    color: #994;
    font-weight: bold;
}

.examplemeaning {
    font-style: italic;
    color: #666;
}

*:lang(rw) {
    color: #262;
}

a:lang(rw) {
    font-weight: bold;
}

.arrow {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/**
 * CSS file used to style the jQuery-UI autocomplete control
 * without using a standard UI theme
 */

.ui-autocomplete {
    list-style: none outside none;
    margin: 0;
    padding: 2px;
    font-size: 12px;
}

.ui-autocomplete-loading {
    background: white url('loading.gif') right center no-repeat;
}

.ui-menu {
    cursor: default;
    position: absolute;
}

.ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu-item a {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 16px;
}

.ui-widget-content {
    background-color: white;
    border: 1px solid #ADA;
}

.ui-state-hover {
    background-color: #FFC;
    font-weight: bold;
}

.item-en {
    color: #124;
}

.item-rw {
    color: #142;
}


@font-face {
    font-family: 'lucida_sans';
    src: url('lucida_sans_unicode.eot');
    src: url('lucida_sans_unicode.eot?#iefix') format('embedded-opentype'),
         url('lucida_sans_unicode.woff2') format('woff2'),
         url('lucida_sans_unicode.woff') format('woff'),
         url('lucida_sans_unicode.ttf') format('truetype'),
         url('lucida_sans_unicode.svg#lucida_sans_unicode') format('svg');
    font-weight: normal;
    font-style: normal;
}

.phon {
  /* color: #0000FF; */
  font-family:lucida_sans;
}

.pos {
  color: #0000FF;
  font-style: bold;
  font-size: 16px;
}

.sym {
  font-style: bold;
}

a.en {
  color: black;
  text-decoration: none;
}


.center {
    clear: both;
    margin: auto;
    width: 100%;
    padding: 1px;
}

.left_add{
   height:280px;
   /*padding: 0 25px;*/
}

$breakpointFullPage: 768px;
$breakpointMax: 1200px;
$bksmall: 380px;
@media screen and (max-width: 360px) {
    #searchbar input#query{
           width: 60%;
        }
}

@media screen and (max-width: 997px){
    #searchbtn{
        width: 55px;
    }
}

@media screen and (max-width: $breakpointMax) {
    #searchbar input#query{
           width: 82%;
        }
}

@media screen and (max-width: 656px) {
    #searchbar input#query{
           width: 65%;
        }
}

@media screen and (max-width: $breakpointFullPage) {
    #footer{
        text-align: center;
        div{
        text-align: center;
        }
        div:first-child{
            text-align: center;
        }
    }


    .header
    {

        background: #0081D5 url('/assets/tonle-sap-map.png') no-repeat;
        background-position: 100% 40%;
        background-size: 486px 315px;
    }
}