@mixin hr-image($lr-image, $hr-image) {
    background-image: image-url($lr-image);
    @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (-o-min-device-pixel-ratio: 5/4),
    (min-resolution: 120dpi) {
        background-image: image-url($hr-image);
        background-size: image-width($lr-image) image-height($lr-image);
    }
}