@include font-face("fontello", font-files("/bundles/melonrougeapp/css/fonts/fontello/fontello.eot", "/bundles/melonrougeapp/css/fonts/fontello/fontello.woff", "/bundles/melonrougeapp/css/fonts/fontello/fontello.ttf", "/bundles/melonrougeapp/css/fonts/fontello/fontello.svg"));

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-adaptable1:before { content: '\e800'; } /* '' */
.icon-adaptable2:before { content: '\e801'; } /* '' */
.icon-adaptable3:before { content: '\e802'; } /* '' */
.icon-adaptable4:before { content: '\e803'; } /* '' */
.icon-contact:before { content: '\e804'; } /* '' */
.icon-edition:before { content: '\e805'; } /* '' */
.icon-horus-lap-software:before { content: '\e806'; } /* '' */
.icon-laboratory:before { content: '\e807'; } /* '' */
.icon-research:before { content: '\e808'; } /* '' */
.icon-treatment-1:before { content: '\e809'; } /* '' */
.icon-treatment-2:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */