.rich-text {
    #{headings()} {
        margin-bottom: .5em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.3em;
        font-style: italic;
    }

    h6 {
        font-size: 1.2em;
        font-style: italic;
    }

    p {
        margin-bottom: 1em;
    }

    ul {
        list-style: disc inside;
    }

    li {
        line-height: 1.5em;
    }
}